<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>exemplo de aula do ifc-riodosul</description>
    <display-name>Exemplo de Aluno</display-name>
    <servlet>
        <servlet-name>AlunoServlet</servlet-name>
        <servlet-class>br.edu.ifc.riodosul.pweb.pessoa.AlunoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CursoServlet</servlet-name>
        <servlet-class>br.edu.ifc.riodosul.pweb.pessoa.CursoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisciplinaServlet</servlet-name>
        <servlet-class>br.edu.ifc.riodosul.pweb.pessoa.DisciplinaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MatriculaServlet</servlet-name>
        <servlet-class>br.edu.ifc.riodosul.pweb.pessoa.MatriculaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteServlet</servlet-name>
        <servlet-class>br.edu.ifc.riodosul.pweb.pessoa.ClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministradorServlet</servlet-name>
        <servlet-class>br.edu.ifc.riodosul.pweb.pessoa.AdministradorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoServlet</servlet-name>
        <servlet-class>br.edu.ifc.riodosul.pweb.pessoa.ProdutoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AlunoServlet</servlet-name>
        <url-pattern>/AlunoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CursoServlet</servlet-name>
        <url-pattern>/CursoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisciplinaServlet</servlet-name>
        <url-pattern>/DisciplinaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MatriculaServlet</servlet-name>
        <url-pattern>/MatriculaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteServlet</servlet-name>
        <url-pattern>/ClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministradorServlet</servlet-name>
        <url-pattern>/AdministradorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoServlet</servlet-name>
        <url-pattern>/ProdutoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
