<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>exemplo de aula do ifc-riodosul</description>
    <display-name>Exemplo de Aluno</display-name>
    <servlet>
        <servlet-name>ProdutoServlet</servlet-name>
        <servlet-class>br.edu.ifc.riodosul.pweb.pessoa.ProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaServlet</servlet-name>
        <servlet-class>br.edu.ifc.riodosul.pweb.pessoa.CategoriaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>br.edu.ifc.riodosul.pweb.pessoa.UsuarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProdutoServlet</servlet-name>
        <url-pattern>/ProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaServlet</servlet-name>
        <url-pattern>/CategoriaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
